body
{
  background-size: cover;	
}.heading
{
  font-size: 23px;
  width: 100%;
  margin: 0px;
  background:linear-gradient(red, yellow);
  color:white;
  font-family: cursive;
}
.note
{
  font-size: 13px;
  color: black;
  font-family: serif;
}
.btn{
    width:100px;
    height: 35px;
    border-radius: 10px;
    padding: 5px;
    border: none;
    background-color:rgb(228, 108, 9);
    font-size: 23px;
    font-family: serif;
    font-weight: bold;
}

  .div_speed
  {
  	float: left;
  }
  .div_speed_img
  {
  	width: 200px; 
  	border-radius: 100px;
  }
  #speed
  {
  	font-size: 23px;
  	margin: 15px;
  }
  .div_volume
  {
  	float: right;	
  }
  .div_volume_img
  {
  	width: 200px; 
  	border-radius: 100px;
  }
  #volume
  {
  	font-size: 23px;
  	margin: 15px;
  }
   .play_button
  {
  	width: 130px;
  	font-size: 25px;
  }
    canvas 
  {
    border:5px solid white;
    border-radius:20px;
  }